%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invitation, class: 'invite', layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
        %header
          %h1 Invite a friend to join MyFlix!        
        %fieldset
          = f.text_field :recipient_name, label: "Friend's Name"
          = f.email_field :recipient_email, label: "Friend's Email Address"
          = f.text_area :message, label: "Invitation Message", rows: 6, placeholder: "Please join this really cool site!"
        %fieldset.actions.control-group.col-sm-offset-2
          = f.submit "Send Invitation", class: "btn btn-default"

